extends layout

block content
	if user != null
		seciton.home
			h1 Welcome back, #{user.first}
			div.home-content
				a(href='#').home-card
					h1 New Journal Entry
					span.material-icons add
				a(href='/journal').home-card
					h1 View Journal Entries
					span.material-icons menu_book
				a(href='#').home-card
					h1 Account Settings
					span.material-icons settings
	else
		include ./login.pug