doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    
  body
    include ./menu.pug

    block content

    if hasFlash
      div(id="flash").flash
        div.flash-info
          span.info #{flash}
          button(id="flashButton") X

    include ./footer.pug
    
    script(src='/scripts/flash.js')
