doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    
  body
    include ./menu.pug

    block content

    div.flash
      if hasFlash
        span.info #{flash}

    include ./footer.pug
