section.content-container
	h1.form-component SIGN IN
	form(action='/login' method='post')
		div.form-component
			label(for='username'): b Username:
			input(type='text' placeholder="username" name='username')

		div.form-component
			label(for='password'): b Password:
			input(type='password' placeholder="password" name='password')

		div.form-component
			button(type='submit') LOG IN

		div.user-other-options
			a(href='/users/password/reset') Forgot your password?	
			a(href='/users/new') Need an account?