extends layout

block content
    section.content-container
        h1.form-component SIGN UP
        form(action='/users/new' method='post')

            if errors.password || errors.passwordConfirm || errors.email
                p.form-component.error Check the errors below

            div.form-component
                label(for='email'): b Email:
                input(type='text' placeholder="email" name='email')
                label(for='email'): p.error #{errors.email}

            div.form-component
                label(for='first'): b First Name:
                input(type='text' placeholder="ex. John" name='first')

            div.form-component
                label(for='last'): b Last Name:
                input(type='text' placeholder="ex. Doe" name='last')
            
            div.form-component
                label(for='password'): b Password:
                input(type='password' placeholder="password" name='password')
                label(for='password'): p.error #{errors.password}

            div.form-component
                label(for='passwordConfirm'): b Confirm Password:
                input(type='password' placeholder="password" name='passwordConfirm')
                label(for='passwordConfirm'): p.error #{errors.passwordConfirm}

            div.form-component
                button(type='submit') CREATE ACCOUNT

            div.user-other-options
                a(href='/') Already have an account? 
