@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  100% {opacity:1;}
  0% {opacity:0;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

* {
  margin: 0;
  font-size: 13px;
}

h1 {
  font-size: 1.5rem;
}

.hidden {
  visibility: hidden;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html, body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-color: rgba(17, 24, 39, 1);
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: rgba(31, 41, 55, 1);
  flex-wrap: wrap;
}

.menu {
  display: flex;
  list-style: none;
}

.menu a {
	padding: 1em;
  margin: 0.5em;
	text-decoration: none;	
	color: white;
}

.menu li a:hover {
	background-color: #9A0680;
	color: white;
  border-radius: 0.5em;
}

.footer {
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.flash {
  width: 100%;
  position: absolute;
  bottom: 5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

.flash-info {
  padding: 1em;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(253, 230, 138, 1);
  box-shadow: 0px 0px 20px 20px rgba(10, 10, 10, 0.1);
  border-radius: 2em;
  margin: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flash-info button {
  color: white;
  background-color: transparent;
  border: none;
}

.flash-info button:hover {
  font-weight: bold;
}

.flash-info > * {
  margin: 0.5em;
} 

/* .flash-info span {
  color: rgba(253, 230, 138, 1);
} */

.logo {
  margin: 0.2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: #160040;
}

.logo * {
  margin: 0.2em;
}

.logo img {
  height: 50px;
}

.about {
  margin: 3em;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.home h1 {
  margin: 2em;
  text-align: center;
}


.home-card {
  margin: 1em;
  padding: 2em;
  background-color: rgba(31, 41, 55, 0.5);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px 10px rgba(10, 10, 10, 0.1);
}

.home-card:hover {
  background-color: rgba(31, 41, 55, 0.9);
  box-shadow: 0px 0px 20px 20px rgba(10, 10, 10, 0.1);
  transform: scale(1.05);
  transition-duration: 100ms;
}

.settings-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.settings-wrapper a {
  padding: 1.5em;
  margin: 2em;
  background-color: rgba(239, 68, 68, 0.5);
  color: rgba(239, 68, 68, 1);
  border-radius: 1em;
}

.settings-wrapper a:hover {
  background-color: rgba(239, 68, 68, 0.8);
}

.settings-content-container {
  background-color: rgba(33, 33, 33, 0.5);
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.settings-content-container form {
  padding: 4em;
  border-radius: 1em;
  display: flex;
  min-width: 400px;
  flex-direction: column;
  flex: 2;
}

.user-content-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  
}

.user-content-container form {
  background-color: rgba(31, 41, 55, 1);
  padding: 4em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  box-shadow: 0px 0px 20px 20px rgba(10, 10, 10, 0.1);
}

.entry-content-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  
}

.entry-content-container form {
  background-color: rgba(31, 41, 55, 1);
  padding: 4em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  box-shadow: 0px 0px 20px 20px rgba(10, 10, 10, 0.1);
}

.user-other-options {
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-other-options a {
  color: rgba(233, 233, 233, 0.5);
}

.user-other-options a:hover{
  color: rgba(233, 233, 233, 1);
}

.form-component {
  display: flex;
  flex-direction: column;
  margin: 1em;
  animation: fadeIn 500ms;
  -webkit-animation: fadeIn 500ms;
  -moz-animation: fadeIn 500ms;
  -o-animation: fadeIn 500ms;
  -ms-animation: fadeIn 500ms;
}

.form-component input, textarea {
  background-color: rgba(75, 85, 99, 1);
  color: white;
  border: none;
  border-radius: 1em;
  padding: 1em;
  margin-top: 0.5em;
}

.form-component button {
  background-color: #9A0680;
  color: white;
  text-align: center;
  padding: 1em;
  border-radius: 1em;
  border: none;
  margin-top: 1em;
}

.form-component button:disabled {
  background-color: rgba(10, 10, 10, 0.4);
}

.form-component button:hover {
  background-color: aquamarine;
  color: black;
  box-shadow: 0px 0px 10px 10px rgba(10, 10, 10, 0.1);
}

.form-component button[disabled]:hover {
  background-color: rgba(10, 10, 10, 0.4);
}

form p.error {
  color: rgba(220, 38, 38, 1);
  margin-top: 0.5em;
}

.settings-left {
  padding: 1em;
  flex: 3;
  display: flex;
  flex-direction: column;
  background-color: rgba(33, 33, 33, 0.1);
  align-items: flex-end;
}

.settings-right {
  padding: 1em;
  flex: 5;
  display: flex;
  flex-direction: column;
  background-color: turquoise;
  background-color: rgba(33, 33, 33, 0.4);
}

.journal-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.journal-wrapper h1 {
  font-size: 2em;
  font-weight: thin;
  margin: 1em;
}

.entry-component {
  background-color: rgba(33, 33, 33, 0.1);
  padding: 1em;
  border-radius: 0.5em;
  margin: 0.5em;
}

.journal {
  display: flex;
  flex-direction: row;
}

.journal-entry {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 1em;
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px 10px rgba(10, 10, 10, 0.1);
}

.journal-entry p {
  color:rgba(255, 255, 255, 0.9)
}

.journal-entry .submit-journal {
  background-color: rgba(10, 10, 10, 0.1);
  text-align: center;
  padding: 1em;
  border: none;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  margin-top: 1em;
  width: 100%;
}

.journal-entry .submit-journal:hover {
  background-color: rgba(154, 6, 127, 0.9);
  color: white
}