* {
  margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-color: #160040;
  height: 100%;
}

a {
  color: #00B7FF;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.menu {
  display: flex;
  list-style: none;
}

.menu a {
	padding: 1em;
  margin: 0.5em;
	text-decoration: none;	
	color: white;
}

.menu li a:hover {
	background-color: #4C0070;
	color: white;
  border-radius: 0.5em;
}

.footer {
  color: white;
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.logo {
  margin: 0.2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: #160040;
}

.logo * {
  margin: 0.2em;
}

.logo img {
  height: 50px;
}

.about {
  margin: 3em;
}

.content-container {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
}

.content-container form {
  background-color: #7a028c;
  padding: 2em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  width: 40%;
}